*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.center{
	width: 960px;
	margin: 0 auto;
}
.user{
	margin: 0 auto;
	width: 960px;
}
.user h1{
	text-align: center;
}
div.center ul.titulo{
	margin: 0;
	clear: both;
}
div.center ul.titulo li{
	float: left;
	width: 190px;
	text-align: left;
	font-weight: bold;
	margin: 10px 0;
}
div.center ul.item li.space{
	padding-right: 5px;
	width: 210px;
}
div.center ul.titulo li.prod{
	padding-right: 5px;
	width: 230px;
}
div.center ul.item li.prod{
	padding-right: 5px;
	width: 230px;
}
div.center ul.item li.cleam{
	padding-right: 0px;
	width: 230px;
}
div.center ul.item li.email,div.center ul.titulo li.email{
	padding-right: 5px;
	width: 220px;
}
div.center ul.titulo li.space{
	width: 210px;
	padding-right: 5px;
}
div.center ul.item{
	float: left;
	border-top: 1px solid #ccc;
	margin: 0;
}
div.center ul.item:hover{
	background-color:#c4e3f3;
}
div.center ul.item li{
	float: left;
	width: 190px;
	text-align: left;
	font: 13px Arial, Helvetica, sans-serif;
	color: #006666;
	margin: 5px 0;
	padding-right: 20px;
}
div.center ul.item-pro li{
	float: left;
	width: 190px;
	text-align: left;
	font: 13px Arial, Helvetica, sans-serif;
	color: #006666;
	margin: 5px 0;
	padding-right: 0px;
}
div.center ul.item .wid{
	width: 35px;
	padding: 0 5px;
}
div.center ul.titulo .lar{
	width: 144px;
	padding: 0 5px;
}
div.center ul.titulo .widh{
	width: 130px;
	text-align: center;
}
div.center ul.item li.wid a{
	display: block;	
}
footer{
	background: #ccc;
	width: 100%;
	height: 40px;
	clear: both;
	padding: 30px 0 0 0;
}
footer p{
	text-align: center;
}
.form form{
	margin: 30px auto;
	padding: 20px;
	background: #F2F2F2;
	width: 350px;
}
.busca{
	float: right;
	height: 30px;
	padding: 8px 0;
	display: inline;
}
.busca label{
	display: none;
}
.novo{
	float: left;	
}
.altura {
	height: 100%;
	min-height: 400px;
}
span.span{
	float: left;
	margin: 10px 0;
	padding: 0;
}

.table-hover > tbody > tr:hover{
	background-color:#333;
	color:#999;
}
